.list {
    display: flex;
    max-width: 100%;

    .listContainer {
        flex: 6;
        max-width: 90%;
        .dataTableTitle {
            // width: 100%;
            font-size: 24px;
            color: gray;
            display: flex;
            margin: 20px 30px;
            align-items: center;
            justify-content: space-between;

            .link {
                text-decoration: none;
                color: teal;
                font-size: 16px;
                font-weight: 400;
                border: 1px solid teal;
                padding: 5px;
                border-radius: 5px;
                cursor: pointer;
            }
        }
    }
}